absl-py 
aiohttp 
aiosignal 
appdirs 
astunparse==1.6.3
async-timeout 
attrs 
audioread
blinker==1.4
brotlipy 
cachetools 
certifi 
cffi 
charset-normalizer 
click 
cryptography 
cycler
decorator 
flatbuffers
flit_core 
fonttools
frozenlist
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
joblib
keras
Keras-Preprocessing
kiwisolver
librosa 
llvmlite==0.39.1
Markdown
MarkupSafe 
matplotlib 
mido 
mir-eval
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
multidict
munkres==1.1.4
numba
numpy==1.24.1
oauthlib
opt-einsum
packaging 
Pillow==9.3.0
pooch
pretty-midi 
protobuf==3.20.1
pyasn1
pyasn1-modules==0.2.8
pycparser
PyJWT
pyparsing
PySocks 
python-dateutil
requests
requests-oauthlib==1.3.0
resampy 
rsa
scikit-learn 
scipy==1.9.3
six
soundfile 
tensorboard
tensorboard-data-server 
tensorboard-plugin-wit==1.6.0
tensorflow 
tensorflow-estimator 
termcolor 
threadpoolctl 
typing_extensions
unicodedata2 
urllib3 
Werkzeug 
yarl
