/* this is for three js full screen */
* {
    margin: 0;
    padding: 0;
 }
 
 body, html {
    overflow: hidden;
    height:100%;
 }

 canvas {
    position:absolute;
    height:100%; width:100%;
 }


 audio {
   display: none;
 }


 label {
   display: none;
 }


 div#particles-js{
    visibility: visible;
 }

canvas.vanta-canvas{
    visibility: hidden;
    position: relative;
}

canvas#pt_canvas{
   visibility: hidden;
}


canvas#defaultCanvas0{
   visibility: visible;
}


div#particles-js{
   visibility: hidden;
}




canvas.particles-js-canvas-el{
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 50%;
    z-index: 1;
  }


/* .particles-js-canvas-el{
   visibility: hidden;
   background-color: #160d0d;
} */