/* this is for three js full screen */
* {
    margin: 0;
    padding: 0;
 }
 
 body, html {
    overflow: hidden;
    height:100%;
 }

 canvas {
    position:absolute;
    height:100%; width:100%;
 }


 audio {
   display: none;
 }


 label {
   display: none;
 }


 div#particles-js{
    visibility: visible;
 }


canvas#c1{
   visibility: hidden;
}


canvas.vanta-canvas{
    visibility: hidden;
    position: relative;
}

canvas#pt_canvas{
   visibility: hidden;
}


canvas#defaultCanvas0{
   visibility: visible;
}


div#particles-js{
   visibility: hidden;
}




canvas.particles-js-canvas-el{
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 50%;
  }


/* .particles-js-canvas-el{
   visibility: hidden;
   background-color: #160d0d;
} */

h1{
   display: inline-block;
}

span{
   position: relative;
   z-index: 1;
}




/* lyrics text */
#text-lavenderHaze{
   font-family: 'Gloock', serif;
   visibility: hidden;
   z-index: 1;
   color: white;
   margin-top: 20%;
   text-align: center;
}

.ml13 {
   z-index: 1;
   font-size: 100.0 em;
   letter-spacing: 0.7em;
   font-weight: 600;
   background-color: transparent;
 }
 
 .ml13 .letter {
   z-index: 1;
   display: inline-block;
   line-height: 1em;
 }


 #text-forever{
   /* font-family: 'Gloock', serif; */
   margin-top: -5%;
   visibility: hidden;
   z-index: 1;
   color: white;
   text-align: center;
 }


 .ml4 {
   z-index: 1;
   position: relative;
   font-weight: 800;
   font-size: 5.0em;
 }

 .ml4 .letters {
   z-index: 1;
   /* display: inline-block; */
   position: absolute;
   margin: auto;
   left: 0;
   top: 0;
   right: 0;
   opacity: 0; 
 }

 #text-forever > h1 > span.letters.letters-1{
   z-index: 1;
   width: 400px
 }