<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vinyl</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- <div id="canvas"></div> -->
    <div id="particles-js"></div>
 
    <!-- <audio id="audio" controls></audio> -->
    <div id="vanta-background"></div>

    <!-- <script src="particles.js"></script> -->
    <script type='text/javascript' > 
        var vinylNameOrigin;
    </script>

    <label for="thefile" class="file">
        <input class="upload-name" type="file" id="thefile" accept="audio/mp3" />
    </label>

    <canvas id="sparkle-canvas"></canvas>
    <div id="pt">
        <canvas id="pt_canvas"></canvas>
    </div>

    <audio class='audios' id ='lavenderHaze' src="static/src/audio/LavenderHaze.mp3" controls></audio>
    <audio class='audios' id ='forever' src="static/src/audio/FOREVER.mp3" controls></audio>
    <audio class='audios' id ='goodDays' src="static/src/audio/GoodDays.mp3" controls></audio>
    <audio class='audios' id ='perfect' src="static/src/audio/Perfect.mp3" controls></audio>
    <audio class='audios' id ='dreams' src="static/src/audio/Dreams.mp3" controls></audio>
    <audio class='audios' id ='superlove' src="static/src/audio/Superlove.mp3" controls></audio>
    <audio class='audios' id ='theotherside' src="static/src/audio/TheOtherSide.mp3" controls></audio>
    <audio class='audios' id ='obsessed' src="static/src/audio/Obsessed.mp3" controls></audio>



    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.fog.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.clouds.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.birds.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.trunk.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/blotter.js@0.1.0/build/blotter.min.js"></script> -->
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>

    <script type="module" defer src="./static/src/js/dist/wheel.js"></script>
    <script type="module" defer src="./static/src/js/dist/particle.js"></script>
    <script type="module" defer src="./static/src/js/dist/vanta.js"></script>
    <script type="module" defer src="./static/src/js/dist/audio.js"></script>
    <script type="module" defer src="./static/src/js/dist/sparkle.js"></script>
    <script type="module" defer src="./static/src/js/dist/rectangle.js"></script>
</body>
</html>