<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vinyl</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- <div id="canvas"></div> -->
    <div id="particles-js"></div>
 
    
    <div id="vanta-background"></div>

    <!-- <script src="particles.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.fog.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.clouds.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>
    <script type="module" defer src="./static/src/js/dist/wheel.js"></script>
    <script type="module" defer src="./static/src/js/dist/particle.js"></script>
    <script type="module" defer src="./static/src/js/dist/vanta.js"></script>
</body>
</html>